<div class="sidebar bg-dark text-white">

  <ul class="nav flex-column">

    <!-- Dashboard -->
    <li class="nav-item">
      <a routerLink="/home/dashboard"
         routerLinkActive="active"
         class="nav-link">Dashboard</a>
    </li>

    <!-- Sync (Microfrontend) -->
    <li class="nav-item">
      <a routerLink="/home/sync"
         routerLinkActive="active"
         class="nav-link">Sync</a>
    </li>

    <!-- Listing (Microfrontend) -->
    <li class="nav-item">
      <a routerLink="/home/listing"
         routerLinkActive="active"
         class="nav-link">Listing</a>
    </li>

    <!-- Profile or Settings page (inside home) -->
    <li class="nav-item">
      <a routerLink="/home/settings"
         routerLinkActive="active"
         class="nav-link">Settings</a>
    </li>

  </ul>
</div>
